asgiref           
attrs              
Automat          
beautifulsoup4     
bs4            
certifi         
cffi             
charset-normalizer  
constantly          
cryptography        
cssselect         
Django             
django-cors-headers 
django-vite       
djangorestframework 
filelock         
hyperlink          
idna             
incremental      
itemadapter        
itemloaders       
jmespath            
lxml               
numpy              
packaging          
pandas          
parsel           
pillow            
pip               
Protego           
psycopg2         
pyasn1          
pyasn1_modules   
pycparser       
PyDispatcher    
pyOpenSSL        
python-dateutil  
pytz             
queuelib           
requests           
requests-file     
Scrapy            
service-identity    
setuptools       
six                
soupsieve         
sqlparse           
tldextract        
Twisted            
twisted-iocpsupport 
typing_extensions  
tzdata              
urllib3            
w3lib              
zope.interface      